:global(body) {
    background-color: #f2eee2;
    color: black;
    
}
:global(body.dark) {
    background-color: #1d3040;
    color: #bfc2c7;
}

:global(body) a {
    color: black;
  }

  :global(body.dark) a {
    color: #bfc2c7;
}