:global(body) {
    background-color: #f0f0f0;
    color: black;
    
}
:global(body.dark) {
    background-color: #2a2a2a;
    color: #f0f0f0;
}

:global(body) a {
    color: black;
  }

  :global(body.dark) a {
    color: #f0f0f0;
}